<!DOCTYPE HTML>
<html>
<head>
    <link href="static/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<title>Admin</title>
</head>
<body>
<h2>Add items</h2>
<form action="/addItem" method="POST" enctype="multipart/form-data">
	Name: <input class="form-control" type="text" name="name"><br>
	Price: <input class="form-control" type="text" name="price"><br>
	Description: <textarea name="description" rows=3 cols="40"></textarea><br>
	Image: <input class="form-control" type="file" name="image"><br>
	Stock: <input class="form-control" type="text" name="stock"><br>
	Category: <select name="category">
		{% for row in categories %}
			<option value="{{row[0]}}">{{row[1]}}</option>
		{% endfor %}
	</select><br>
	<input class="btn btn-primary" type="submit">
</form>
</body>
</html>

