<!doctype html>
<html lang="zh-cmn-Hans">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#563d7c" />
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <title>{% block title %}NewShop, more happiness!{% endblock %}</title>
    {% block head %}
    {% endblock %}
</head>

<body>
    {% for message in get_flashed_messages() %}
    <div class="alert alert-danger" role="alert">
        {{ message }}
    </div>
    {% endfor %}
    <nav class="navbar navbar-expand-lg navbar-dark sticky-top bg-danger">
        <a class="navbar-brand"><img src="https://d33wubrfki0l68.cloudfront.net/67a4995f0d6ce4e69f8ca496de0ee0d2832e9385/29a04/assets/img/logo_rocket.png" height="35" alt="Propulso"></a>
        <a class="navbar-brand" href="/">NewShop</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/displayCategory/1">Men's</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/displayCategory/2">Women's</a>
                </li>
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Electronics</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="/displayCategory/3">HeadPhones</a>
                        <a class="dropdown-item" href="/displayCategory/4">Computers</a>
                        <a class="dropdown-item" href="/displayCategory/5">CellPhones</a>
                    </div>
                </li>
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Foods</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown02">
                        <a class="dropdown-item" href="/displayCategory/6">Snacks</a>
                        <a class="dropdown-item" href="/displayCategory/7">Drinks</a>
                        <a class="dropdown-item" href="/displayCategory/8">CookedFoods</a>
                    </div>
                </li>
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sports & Outdoors</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown03">
                        <a class="dropdown-item" href="/displayCategory/9">Basketball</a>
                        <a class="dropdown-item" href="/displayCategory/10">Tennis</a>
                        <a class="dropdown-item" href="/displayCategory/11">Golf</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/displayCategory/12">Clothing</a>
                        <a class="dropdown-item" href="/displayCategory/13">Camping</a>
                        <a class="dropdown-item" href="/displayCategory/14">Cycling</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline mr-4 my-3 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Search</button>
            </form>
            {% if not loggedIn %}
            <a class="btn btn-outline-warning mr-sm-2 my-2 my-sm-0" href="/registerationForm">Sign up</a>
            <a class="btn btn-outline-warning mr-sm-2 my-2 my-sm-0" href="/loginForm">Sign in</a>
            {% else %}
            <ul class="navbar-nav">
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Hello, {{firstName}}</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown04">
                        <a class="dropdown-item" href="/orders">Your orders</a>
                        <a class="dropdown-item" href="/profile">Edit profile</a>
                        <a class="dropdown-item" href="/password">Change password</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/logout">Sign Out</a>
                    </div>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/cart"><img src={{url_for('static', filename='img/shoppingCart.png')}} id="cartIcon" width="24px" height="24px"/> CART <u>{{noOfItems}}</u></a>
                </li>
            </ul>
	        {% endif %}
        </div>
    </nav>
    {% block content %}
    {% endblock %}
</body>

</html>