{% extends 'base.html' %}
{% block head %}
<style>
    #images{
        display:flex;
        flex-direction:row;
    }

    #image{
        width:380px;
        height:380px;
        overflow:hidden;
        display:flex;
        justify-content:center;
        align-items:center;
    }
    .container{
        max-width: 1520px;
    }
    body {
        min-height: 75rem;
    }
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
    }
</style>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="jumbotron bg-light">
            <h1>MY CART</h1>
            <h3 class="lead">Total Cost: <span class="text-danger">${{totalPrice}}</span></h3>
            <a class="btn btn-lg btn-danger" href="/newAllOrder" role="button">Buy ALL &raquo;</a>
        </div>
    </div>
    {% if existItem %}
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                {% for data in products %}
                <div class="col-md-3">
                    <div class="card mb-4 shadow-sm">
                        <div id="images">
                                <div id="image">
                                    <img src={{url_for('static', filename='uploads/' + data[3]) }} id="itemImage"/>
                                </div>
                            </div>
                        <div class="card-body">
                            <h4 class="card-text text-danger">{{data[1]}}</h4>
                            <h6 class="card-text text-danger">${{data[2]}}</h6>
                            <h6 class="card-text text-muted">× {{data[4]}}</h6>
                            <div class="d-flex justify-content-between align-items-center">
                                <p> </p>
                                <p class="text-danger" style="font-size:150%">${{data[5]}}</p>
                            </div>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a type="button" class="btn btn-sm btn-outline-danger" href="/addToCart?productId={{data[0]}}"> + </a>
                                    <a type="button" class="btn btn-sm btn-outline-danger" href="/removeFromCart?productId={{data[0]}}"> − </a>
                                </div>
                                <a class="btn btn-danger" href="/newOrder?productId={{data[0]}}" role="button">Buy Items &raquo;</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% else %}

    {% endif %}
{% endblock %}