<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <title>Login · NewShop</title>
        <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/floating-labels/">
        <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
        <!-- Bootstrap core CSS -->
        <link href="static/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <style>
            .bd-placeholder-img {
                font-size: 1.125rem;
                text-anchor: middle;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }

            @media (min-width: 768px) {
                .bd-placeholder-img-lg {
                    font-size: 3.5rem;
                }
            }
        </style>

        <!-- Custom styles for this template -->
        <link href="static/css/login.css" rel="stylesheet">
    </head>
    <body>
        <form class="form-signin" action="/login" method="POST">
            <div class="text-center mb-4">
                <img class="mb-4" src="static/img/rocket.png" alt="" width="72" height="72">
                <h1 class="h3 mb-3 font-weight-normal">Sign In NewShop</h1>
            </div>

            <div class="form-label-group">
                <input type="email" id="inputEmail" name="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                <label for="inputEmail">Email address</label>
            </div>

            <div class="form-label-group">
                <input type="password" id="inputPassword" name="inputPassword" class="form-control" placeholder="Password" required>
                <label for="inputPassword">Password</label>
            </div>
            <div class="text-center mb-4">
                <h5 class="h6 mb-3 font-weight-bold text-danger">{{error}}</h5>
            </div>
            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <button class="btn btn-lg btn-danger btn-block" type="submit">Sign in</button>
        </form>
    </body>
</html>