{% extends 'base.html' %}
{% block content %}
<main role="main" class="container">
  <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-danger rounded shadow-sm">
    <img class="mr-3" src="static/img/rocket.png" alt="" width="48" height="48">
    <div class="lh-100">
      <h6 class="mb-0 text-white lh-100">My Orders</h6>
      <small>New Shop</small>
    </div>
  </div>

  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2 mb-0">Recent Orders</h6>
    {% if existOrder %}
        {% for data in orderss %}
            <div class="media text-muted pt-3">
                <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="{{data[6]}}"/><text x="50%" y="50%" fill="{{data[6]}}" dy=".3em">32x32</text></svg>
                <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                    <strong class="d-block text-gray-dark">{{data[2]}}</strong>
                    {{data[5]}}, ${{data[3]}} × {{data[0]}} = <span class="text-danger">{{data[4]}}</span>, ID: {{data[1]}}
                </p>
            </div>
        {% endfor %}
    {% else %}

    {% endif %}
  </div>
</main>
{% endblock %}