<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">f
        <meta name="generator" content="Jekyll v3.8.5">
        <title>EditProfile · NewShop</title>
        <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/floating-labels/">
        <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
        <!-- Bootstrap core CSS -->
        <link href="static/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <style>
            .bd-placeholder-img {
                font-size: 1.125rem;
                text-anchor: middle;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }

            @media (min-width: 768px) {
                .bd-placeholder-img-lg {
                    font-size: 3.5rem;
                }
            }
        </style>
        <link href="static/css/login.css" rel="stylesheet">
        <script type="text/javascript" src="{{ url_for('static', filename = 'js/changePassword.js') }}"></script>
    </head>
    <body>
        <form class="form-signin" action="/changePassword" method="POST" onsubmit="return validate()">
            <div class="text-center mb-4">
                <img class="mb-4" src="static/img/rocket.png" alt="" width="72" height="72">
                <h1 class="h3 mb-3 font-weight-normal">Change Your Password</h1>
            </div>

            <div class="form-label-group">
                <input type="password" id="oldpassword" name="oldpassword" class="form-control" placeholder="Old Password" required>
                <label for="oldpassword">Old Password</label>
            </div>

            <div class="form-label-group">
                <input type="password" id="newpassword" name="newpassword" class="form-control" placeholder="New Password" required>
                <label for="newpassword">New Password</label>
            </div>

            <div class="form-label-group">
                <input type="password" id="cpassword" name="cpassword" class="form-control" placeholder="Comfirm password" required>
                <label for="cpassword">Confirm Password</label>
            </div>

            <div class="text-center mb-4">
                <h5 class="h6 mb-3 font-weight-bold text-danger">{{msg}}</h5>
            </div>

            <button class="btn btn-lg btn-danger btn-block" type="submit">Save</button>
        </form>
    </body>
</html>