<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <title>Register · NewShop</title>
        <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
        <!-- Bootstrap core CSS -->
        <link href="static/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <style>
            .bd-placeholder-img {
                font-size: 1.125rem;
                text-anchor: middle;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }

            @media (min-width: 768px) {
                .bd-placeholder-img-lg {
                    font-size: 3.5rem;
                }
            }
        </style>

        <!-- Custom styles for this template -->
        <link href="static/css/login.css" rel="stylesheet">
        <script type="text/javascript" src="{{ url_for('static', filename = 'js/validateForm.js') }}"></script>
    </head>
    <body>
        <form class="form-signin" action="/register" method="POST" onsubmit="return validate()">
            <div class="text-center mb-4">
                <img class="mb-4" src="static/img/rocket.png" alt="" width="72" height="72">
                <h1 class="h3 mb-3 font-weight-normal">Register In NewShop</h1>
            </div>

            <div class="form-label-group">
                <input type="email" id="email" name="email" class="form-control" placeholder="Email address" required autofocus>
                <label for="email">Email address</label>
            </div>

            <div class="form-label-group">
                <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
                <label for="password">Password</label>
            </div>

            <div class="form-label-group">
                <input type="password" id="cpassword" name="cpassword" class="form-control" placeholder="Comfirm password" required>
                <label for="cpassword">Confirm Password</label>
            </div>

            <div class="form-label-group">
                <input type="text" id="firstName" name="firstName" class="form-control" placeholder="First name" required>
                <label for="firstName">First Name</label>
            </div>

            <div class="form-label-group">
                <input type="text" id="lastName" name="lastName" class="form-control" placeholder="Last name" required>
                <label for="lastName">Last Name</label>
            </div>

            <div class="form-label-group">
                <input type="text" id="phone" name="phone" class="form-control" placeholder="Phone" required>
                <label for="phone">Phone</label>
            </div>

            <div class="text-center mb-4">
                <h5 class="h6 mb-3 font-weight-bold text-danger">{{error}}</h5>
            </div>

            <button class="btn btn-lg btn-danger btn-block" type="submit">Sign up</button>
        </form>
    </body>
</html>